.message-list{
    display: flex;
    flex-direction: column;
    gap:16px;
    margin-left: 10px;
    overflow-y: auto; /* включаем прокрутку */
    
    
}

.message.me{
    background: red;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: flex-end;
    gap: 13px;
    width: fit-content;
    position: relative;
    margin-right: 10px;
    
    

}



.message.other{
    background: red;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    display:flex;
    flex-direction: row;
    align-items: center;
    gap: 13px;
    width: fit-content;
    position: relative;
    align-self: flex-start;

}

.text-box{
    text-align: left;
    margin-left: -6px;
   
}

.time-box{

    width:10px;
    font-weight: 500;
    font-size: 8px;
    width: fit-content;
    text-align: end;
    margin-bottom: -20px;
    margin-right: -10px;
    
    
}