.text-form{
  width: 800px; /* Sets a fixed width */
  height: auto; /* Adjusts height based on content */
  margin: 0 auto;
  background: #3b404b;
  border: 0ch;
  padding-bottom: 11px;
  font-weight: 400;
  font-size: large;
  outline: none;
  color: #fcf9f9;
}

.text-button{
  border-radius: 50px;
  height: 35px;
  width:35px;
  border: 0ch;
  background: #24272e
}