.user-card{
    display:flex;
    flex-direction: row;
    gap:15px;
    background-color: rgb(23, 23, 23);
    width: 100%;
    padding-left: 20px;

    color:white;
    
}

.user-card:hover{
    box-shadow: 0 0 15px #9f3232;
      
}


.avatar{
    width: 50px;        /* уменьшаем ширину */
    height: 50px;       /* уменьшаем высоту */
    object-fit: cover;   /* обрезает изображение по контейнеру, не искажая */
    border-radius: 50%;
}

.message-box {
    display: flex;
    flex-direction: column;
    gap: 13px;
    text-align: left;
    margin-top:9px;
}

.message-box > * {
    margin:0;
    line-height: 1;
}

.img-box{
    display: flex;
    align-items: center;
}